<div class="flex justify-content-between">
  <p class="my-0" mat-dialog-title>
    Uploading {{fileName}}
  </p>
  <div appMoveRight>
    <button color="warn" matDialogClose mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <mat-progress-bar
                    [color]="'primary'"
                    [mode]="'buffer'"
                    [value]="uploadProgress"
                    [bufferValue]="bufferProgress">
  </mat-progress-bar>
</mat-dialog-content>