<mat-sidenav-container>
  <mat-sidenav #sidenav
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               [fixedBottomGap]="0"
               mode="side"
               opened
               class="example-sidenav">
    <mat-nav-list>
      <a
         [routerLink]="['/','file-list']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLinkActive]="'active'"
         mat-list-item>
        <mat-icon>
          view_list
        </mat-icon>
      </a>
      <mat-divider></mat-divider>
      <a
         [routerLink]="['/','dashboard']"
         [routerLinkActive]="'active'"
         mat-list-item>
        <mat-icon>
          show_chart
        </mat-icon>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>